body {
    background-color: rgba(0, 0, 0, 0.87);
    text-align: center;
    background-image: url(images/Back3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header{  
    height: auto;
    width: auto;
    text-align: center;

}

nav {
    background-color: rgba(0, 0, 0, 0.301);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: auto;
    display: flex;
    flex: center;
   justify-content: center;
}

main :hover{
    height: 800px;
   padding: auto;
    text-align: center;
    color: rgb(255, 255, 255);
display: grid;
justify-content: center;
align-items: center;
padding: auto;
margin: auto;
    
}
body p :hover {
    transform: scale(1,2,grey,rgb(243, 22, 22));
    background-image: linear-gradient(to right);
}
iframe{
    display: grid;
    grid-area: 2rem;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: auto;
    grid: center;
    }

footer {
    background-color: rgba(0, 0, 0, 0.685);
    height: 100px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

h1 {
font-size: 84px;
color: blanchedalmond;
font-family: 'Times New Roman', Times, serif;

}

p {
    font-size: 25px;
    color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;

}

a {
    font-size: 25px;
    color: rgb(255, 255, 255);
text-decoration: underline rgb(146, 21, 204);
font-family: 'Times New Roman', Times, serif;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Times New Roman', Times, serif;
}

footer p {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    font-family: 'Times New Roman', Times, serif;
}

footer p :hover{
    transform: scale(1,2,grey,rgb(243, 22, 22));
    background-image: linear-gradient(to right);

}



