body {
    background-color: rgba(0, 0, 0, 0.87);
    text-align: center;
    background-image: url(images/Back3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header{  
    height: 100px;
    width: auto;
    text-align: center;
    
}

nav {
    background-color: rgba(0, 0, 0, 0.301);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    height: auto;
}

main {
    height: 1000px;
    padding: auto;
     text-align: center;
     color: rgb(255, 255, 255);
 display: grid;
 justify-content: center;
 align-items: center;
 margin: auto;

 }
img {
    display: grid;
    grid-area: 2rem;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: auto;
    grid: center;
align-items: center;
height: 200px;
}
.table {
    font-size: 20px;
    text-align: center;
    }

footer {
    background-color: rgba(0, 0, 0, 0.685);
    height: 100px;
    padding: auto;
    margin: auto;
}


h1 {
font-size: 84px;
color: blanchedalmond;
font-family: 'Times New Roman', Times, serif;

}

p {
    font-size: 25px;
    color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;

}

a {
    font-size: 25px;
    color: rgb(255, 255, 255);
text-decoration: underline rgb(146, 21, 204);
font-family: 'Times New Roman', Times, serif;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Times New Roman', Times, serif;
}

footer p {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    font-family: 'Times New Roman', Times, serif;
}
